baseurl: "https://logmeetupnyc.github.io/"
title: "LoG New York"
canonifyurls: true
theme: "hugo-conference"

GoogleAnalytics: ""

params:
  # Conference info
  Name: "LoG New York"
  Description: "LoG Meet Up New York"
  Date: "Feb 29th - March 1st"
  #Price: "Only XX€" # If your event is free, just comment this line
  Venue: "New York"
  Address: "101 Hudson St"
  City:  "Jersey City"
  State: "New Jersey"
  Images: ["/img/badge.jpg"]
  GoogleMapsKey: "my-secret-maps-key"

  # Active sections on the website to deactivate comment out with '#'
  # you can also change order here and it will reflect on page
  Sections:
    - about
    - registration
    - cfp
    - schedule
    - speakers
    # - selected_talks # comment first upload
    - organizers 
    - sponsors
    #- partners
    - location

  # Titles 
  Titles:
    about: "About"
    registration: "Registration"
    cfp: "Call for talks"
    location: "The Venue"
    schedule: "Schedule"
    speakers: "Keynote Speakers"
    # selected_talks: "Selected Talks"
    sponsors: "Sponsors"
    partners: "Partners"
    organizers: "Organizers"

  # List of Sponsors
  Sponsors:

    - name: "NJIT"
      logo: "/img/njit.png"
      url: "https://cs.njit.edu"



  # The entire schedule
  Schedule:

    - name: "Registration and Reception"
      time: "Thursday 08h30-09h15"

    - name: "Opening NYC LoG"
      time: "Thursday 09h15-09h30"

    - name: "Invited Talk" # Name Surname
      time: "Thursday 09h30-10h10"

    - name: "Invited Talk"
      time: "Thursday 10h10-10h50"

    - name: "Invited Talk"
      time: "Thursday 10h50-11h30"

    # - name: "aa" # Name Surname
    #   photo: "/img/ricky.jpg"
    #   url: "www.example.org"
    #   abstract: "aa" 
    #   bio: "Ricky Tian Qi Chen is a research scientist  at Meta AI(FAIR) in NYC, where his research is on building simplified abstractions of the world through the lens of dynamical systems and flows.
    #   He generally works on integrating structured transformations into probabilistic modeling, with the goal of improved interpretability, tractable optimization, or extending into novel areas of application."
    #   company: "Meta AI(FAIR) in NYC" # Cat Foundation
    #   link:
    #     href: "https://rtqichen.github.io//"
    #     #text: "@linus"
    #   presentation:
    #     title: "Ricky Tian Qi Chen" # Speaker Name
    #     time: "Thursday 13h00-13h40"


    - name: "Lunch Break and Social"
      time: "Thursday 11h30-13h00"

    - name: "aa" # Name Surname
      photo: "/img/ricky.jpg"
      url: "www.example.org"
      abstract: "aa" 
      bio: "Ricky Tian Qi Chen is a research scientist  at Meta AI(FAIR) in NYC, where his research is on building simplified abstractions of the world through the lens of dynamical systems and flows.
      He generally works on integrating structured transformations into probabilistic modeling, with the goal of improved interpretability, tractable optimization, or extending into novel areas of application."
      company: "Meta AI(FAIR) in NYC" # Cat Foundation
      link:
        href: "https://rtqichen.github.io//"
        #text: "@linus"
      presentation:
        title: "Ricky Tian Qi Chen" # Speaker Name
        time: "Thursday 13h00-13h40"

    - name: "Spotlight Talk"
      photo: "/img/bryan.jpg"
      url: "www.example.org"
      abstract: "aa" 
      bio: "Bryan Perozzi is a senior staff research scientist  at Google NYC, where he develop techniques for learning expressive 
      representations of social relationships and natural language with neural networks. These scalable algorithms are useful for prediction tasks (classification/regression), pattern discovery, and anomaly detection in large networked data sets."
      company: "Google Research" # Cat Foundation
      link:
        href: "https://research.google/people/bryan-perozzi/"
        #text: "@linus"
      presentation:
        title: "Bryan Perozzi" # Speaker Name
        time: "Thursday 13h40-14h40"

    - name: "aa" # Name Surname
      photo: "/img/mengjia.png"
      abstract: ""
      bio: "Mengjia Xu is currently an Assistant Professor at Department of Data Science, Ying Wu College of Computing, NJIT. She also holds a Research Affiliate position with the MIT NSF Center for Brains, Minds, and Machines (CBMM) at McGovern Institute for Brain Research. "
        #"Professor for Machine Learning at the Department of Computer Engineering at TUM (Technical University of Munich)."
      company: "New Jersey Institute of Technology" # Cat Foundation
      link:
        href: "https://gracexu182.github.io/"
      #  text: "WebPage"
      presentation:
        title: "Mengjia Xu" #Speaker Name
        time: "Thursday 14h40-15h20"
      
    - name: "aa" # Name Surname
      photo: "/img/jie.jpg"
      abstract: ""
      bio: "Jie Gao is a Professor of Computer Science department of Rutgers University. From 2005-2019 she was on faculty of Department of Computer Science, Stony Brook University.
      Her reserach is in the intersection of Algorithm Design, Computational Geometry and Networking applications such as wireless, mobile, and sensor networks, and more recently social networks, trajectory data/privacy, and scheduling problems in robotics and networking."
        #"Professor for Machine Learning at the Department of Computer Engineering at TUM (Technical University of Munich)."
      company: "Rutgers University" # Cat Foundation
      link:
        href: "https://sites.rutgers.edu/jie-gao/"
      #  text: "WebPage"
      presentation:
        title: "Jie Gao" #Speaker Name
        time: "Thursday 15h20-16h00"
    
    - name: "Poster Session"
      time: "Thursday 16h00-17h00"


    ##### Friday



    - name: "aa" # Name Surname
      photo: "/img/Anton.jpg"
      abstract: ""
      bio: "Anton Tsitsulin is a research scientist at google research NYC. He is interested in scalable, principled methods for analyzing graph data in an unsupervised manner."
        #"Professor for Machine Learning at the Department of Computer Engineering at TUM (Technical University of Munich)."
      company: "Google Research" # Cat Foundation
      link:
        href: "https://tsitsul.in/"
      #  text: "WebPage"
      presentation:
        title: "Anton Tsitsulin" #Speaker Name
        time: "Friday - 09h00-09h40"

    - name: "Panel Discussion"
      time: "Thursday 09h40-10h40"

    - name: "aa" # Name Surname
      photo: "/img/Shub.jpg"
      abstract: ""
      bio: "Shubhendu Trivedi is a machine learning researcher at the MIT Computer Science and Artificial Intelligence Laboratory (CSAIL)"
        #"Professor for Machine Learning at the Department of Computer Engineering at TUM (Technical University of Munich)."
      company: "MIT" # Cat Foundation
      link:
        href: "https://people.csail.mit.edu/shubhendu/"
      #  text: "WebPage"
      presentation:
        title: "Shubhendu Trivedi" #Speaker Name
        time: "Friday - 10h40-11h20"


    # - name: "aa" # Name Surname
    #   photo: "/img/micheal.jpg"
    #   abstract: ""
    #   bio: "Michael S Albergo is a postdoc at the Courant Institute of Mathematical Sciences."
    #     #"Professor for Machine Learning at the Department of Computer Engineering at TUM (Technical University of Munich)."
    #   company: "Courant Institute of Mathematical Sciences" # Cat Foundation
    #   link:
    #     href: "http://malbergo.me/"
    #   #  text: "WebPage"
    #   presentation:
    #     title: "Michael S Albergo" #Speaker Name
    #     time: "Friday - 11h20-12h00"

    # - name: "Refreshments"
    #   time: "Friday - 12h00-13h30"

    # - name: "Sessions NYC LoG (Tue-2)"
    #   time: "Friday - 12h40-14h00"

    - name: "Lunch Break and Social"
      time: "Friday - 12h00-13h30"

    - name: "aa" # Name Surname
      photo: "/img/paco.png"
      abstract: ""
      bio: "Francisco Villaescusa-Navarro is a a research scientist at the Simons Foundation in New York City and a visiting research scholar at Princeton University."
        #"Professor for Machine Learning at the Department of Computer Engineering at TUM (Technical University of Munich)."
      company: "Simons Foundation- Flatiron Institute" # Cat Foundation
      link:
        href: "https://franciscovillaescusa.github.io/"
      #  text: "WebPage"
      presentation:
        title: "Francisco Villaescusa-Navarro" #Speaker Name
        time: "Friday - 13h30-14h10"

    # - name: "aa" # Name Surname
    #   photo: "/img/jie.jpg"
    #   abstract: ""
    #   bio: "Jie Gao is a Professor of Computer Science department of Rutgers University. From 2005-2019 she was on faculty of Department of Computer Science, Stony Brook University.
    #   Her reserach is in the intersection of Algorithm Design, Computational Geometry and Networking applications such as wireless, mobile, and sensor networks, and more recently social networks, trajectory data/privacy, and scheduling problems in robotics and networking."
    #     #"Professor for Machine Learning at the Department of Computer Engineering at TUM (Technical University of Munich)."
    #   company: "Rutgers University" # Cat Foundation
    #   link:
    #     href: "https://sites.rutgers.edu/jie-gao/"
    #   #  text: "WebPage"
    #   presentation:
    #     title: "Jie Gao" #Speaker Name
    #     time: "Thursday 15h20-16h00"

    - name: "Invited Talk"
      time: "Thursday 14h10-14h50"
      
    - name: "Invited Talk"
      time: "Thursday 14h50-15h30"

    - name: "Poster Session"
      time: "Thursday 15h30-16h30"
    
    - name: "Closing Remarks"
      time: "Thursday 16h30-16h40"

    # - name: "Refreshments"
    #   time: "Friday - 17h00-17h30"

    # - name: "Discussion"
    #   time: "Friday - 17h30-18h00"


  #   ##### WEDNESDAY
  #   - name: "Statistical Mechanics of Graph Convolution Networks" # Name Surname
  #     photo: "/img/ivan2.jpeg"
  #     abstract: "Graph neural networks (GNNs) excel in modeling relational data such as biological, social, and transportation networks, but the underpinnings of their success are elusive. Traditional complexity measures from statistical learning theory fail to account for observed phenomena like the double descent or the impact of relational semantics on generalization error. Motivated by experimental observations of ``transductive'' double descent in key networks and datasets, we use analytical tools from statistical physics and random matrix theory to precisely characterize generalization in simple graph convolution networks on the contextual stochastic block model. Our results illuminate the nuances of learning on homophilic versus heterophilic data and predict double descent whose existence in GNNs has been questioned by recent work. We show how risk is shaped by the interplay between the graph noise, feature noise, and the number of training labels. Our findings apply beyond stylized models, capturing qualitative trends in real-world GNNs and datasets. As a case in point, we use our analytic insights to improve performance of state-of-the-art graph convolution networks on heterophilic datasets."
  #     bio: "Associate Professor at the Department of Mathematics and Computer Science of the University of Basel."      #company: "TBA" # Cat Foundation
  #     company: "University of Basel"
  #     link: 
  #       href: "https://dmi.unibas.ch/de/personen/ivan-dokmanic/"
  #     #  text: "@linus"
  #     presentation:
  #       title: "Ivan Dokmanić " # Speaker Name
  #       time: "Wednesday - 09h30-10h30"


  #   - name: "Coffee Break"
  #     time: "Wednesday - 10h30-11h00"

  #   - name: "Sessions NYC LoG (Wed-1)"
  #     time: "Wednesday - 11h00-12h20"

  #   - name: "Refreshments"
  #     time: "Wednesday - 12h20-12h40"

  #   - name: "Sessions NYC LoG (Wed-2)"
  #     time: "Wednesday - 12h40-14h00"

  #   - name: "Lunch time (lunch not provided)"
  #     time: "Wednesday - 14h00-16h00"

  #   - name: "Program LoG (tutorials)"
  #     time: "Wednesday - 16h00-17h00"

  #   - name: "Coffee Break"
  #     time: "Wednesday - 17h00-17h30"

  #   - name: "Program LoG (tutorials)"
  #     time: "Wednesday - 17h30-19h00"

  #   - name: "Program LoG (keynote Jegelka)"
  #     time: "Wednesday - 19h00-20h00"

    


  # selected_talks:

  # #### Thursday 1

  # - slot: "Thursday-1 12:20 - 14:00"
  #   title: "Learning Types of Hierarchical Relationships on Complex Class Labelling Systems"
  #   speaker: "Connor Clarkson"

  # - slot: "Thursday-1 12:20 - 14:00"
  #   title: "Structure-Preserving Graph Neural Networks"
  #   speaker: "Alberto Badias"

  # - slot: "Thursday-1 12:20 - 14:00"
  #   title: "ResolvNet: A Graph Convolutional Network with multi-scale Consistency"
  #   speaker: "Christian Koke"

  # - slot: "Thursday-1 12:20 - 14:00"
  #   title: "Robust Graph Neural Network based on Graph Denoising"
  #   speaker: "Samuel Rey"

  # - slot: "Thursday-1 12:20 - 14:00"
  #   title: "Learning Graphs and Simplicial Complexes from Data" 
  #   speaker: "Andrei Buciulea Vlas"

  # #### Friday 1
  # - slot: "Friday-1 11:00 - 12:40"
  #   title: "Towards a more inductive world for drug repurposing approaches"
  #   speaker: "Jesús de la Fuente"

  # - slot: "Friday-1 11:00 - 12:40"
  #   title: "Leveraging Temporal Graph Neural Networks for Drug Repurposing Using Prescription Data in Norway"
  #   speaker: "Asieh Abolpour Mofrad"

  # - slot: "Friday-1 11:00 - 12:40"
  #   title: "A molecular foundation model for drug discovery based on molecular graphs"
  #   speaker: "Oscar Mendez-Lucio"

  # - slot: "Friday-1 11:00 - 12:40"
  #   title: "GeNNius: An ultrafast drug-target interaction inference method based on graph neural networks"
  #   speaker: "Uxía Veleiro"


  # #### Friday 2
  # - slot: "Friday-2 12:40 - 14:00"
  #   title: "A General Graph Convolution Theorem: Application to Dual Graph Inference"
  #   speaker: "Geert Leus"

  # - slot: "Friday-2 12:40 - 14:00"
  #   title: "Tensor completion using graph-based diffusion: a remote sensing image completion study"
  #   speaker: "Iain Rolland"

  # - slot: "Friday-2 12:40 - 14:00"
  #   title: "Recovering Missing Node Features with Local Structure-based Embeddings"
  #   speaker: "Víctor M Tenorio"

  # - slot: "Friday-2 12:40 - 14:00"
  #   title: "Completing Missing Air Quality Data with Graph-Based Techniques"
  #   speaker: "Michelle Wan"

  # # WEDNESDAY 1


  # - slot: "Wednesday-1 11:00 - 12:40"
  #   title: "Using Graph Neural Networks to Predict Airport Congestion and Air Traffic Delays"
  #   speaker: "Guillermo Megías"

  # - slot: "Wednesday-1 11:00 - 12:40"
  #   title: "Spatio-Temporal Graphs and GNN for Antimicrobial Multidrug Resistance Prediction in Intensive Care Unit"
  #   speaker: "Oscar Escudero"

  # - slot: "Wednesday-1 11:00 - 12:40"
  #   title: "gMCSpy: Efficient and accurate computation of Genetic Minimal Cut Sets in Python"
  #   speaker: "Carlos J Rodriguez"

  # - slot: "Wednesday-1 11:00 - 12:40"
  #   title: "Bayesian Graph Neural Networks, how to optimize a cellular network and provide confidence to our customers"
  #   speaker: "Oscar Llorente Gonzalez"


  # ## WEDNESDAY 2

  # - slot: "Wednesday-2 12:40 - 14:00"
  #   title: "Asymmetry-Labeled DAGs: Representation, Learning and Causal Reasoning"
  #   speaker: "Manuele Leonelli"

  # - slot: "Wednesday-2 12:40 - 14:00"
  #   title: "HoloNets: Spectral Convolutions do extend to Directed Graphs"
  #   speaker: "Christian Koke"

  # - slot: "Wednesday-2 12:40 - 14:00"
  #   title: "Graph-Based Dimensionality Reduction and Clustering for Earth and Life Sciences"
  #   speaker: "Nathan Mankovich"





  # List of Contacts
  Contacts:

    - name: "Ioannis Koutis"
      logo: "/img/IK.jpg"
      email: "ikoutis@njit.edu"
      affiliation: "New Jersey Institute of Technology"
      #url: "https://gohugo.io"
      home: "https://web.njit.edu/~ikoutis/" 
      linkedin: "https://www.linkedin.com/in/yiannis-koutis-08b3a84" 
      googleScholar: "https://scholar.google.com/citations?user=ONXC8_gAAAAJ&hl=en" 

    - name: "Vincent Oria"
      logo: "/img/vincent.jpg"
      email: "vincent.oria@njit.edu"
      affiliation: "New Jersey Institute of Technology"
      #url: "https://gohugo.io"
      home: "https://web.njit.edu/~oria/" 
      linkedin: "https://www.linkedin.com/in/vincent-oria-7b06a114/" 
      googleScholar: "https://scholar.google.com/citations?hl=en&user=PlgV6FwAAAAJ&view_op=list_works&sortby=pubdate" 

    - name: "Ali Parviz"
      logo: "/img/ali.jpg"
      email: "ap2248@njit.edu"
      affiliation: "New Jersey Institute of Technology"
      # home: "https://mikelhernaez.github.io/" 
      linkedin: "https://www.linkedin.com/in/alipokhbe/" 
      googleScholar: "https://scholar.google.com/citations?user=GU1VHgMAAAAJ&hl=en" 

    - name: "Yuanqi Du"
      logo: "/img/yuanqi.jpg"
      email: "yuanqidu@cs.cornell.edu"
      affiliation: "Cornell University"
      # url: "https://yuanqidu.github.io/"
      home: "https://yuanqidu.github.io/"
      linkedin: "https://www.linkedin.com/in/yuanqi-du-523968148" 
      googleScholar: "https://scholar.google.com/citations?user=fAc_zZMAAAAJ&hl=en" # Add the Google Scholar URL here 


    - name: "Yingheng Wang"
      logo: "/img/yingheng.jpg"
      email: "yingheng@cs.cornell.edu"
      affiliation: "Cornell University"
      # url: "isjakewong.github.io"
      home: "https://isjakewong.github.io"
      linkedin: "https://www.linkedin.com/in/yingheng-w-7b8066171/" 
      googleScholar: "https://scholar.google.com/citations?user=4WEa7tMAAAAJ&hl=en"

    - name: "Derek Lim"
      logo: "/img/dereck.jpg"
      email: "dereklim@mit.edu"
      affiliation: "MIT"
      # url: "cptq.github.io"
      home: "cptq.github.io"
      linkedin: "https://www.linkedin.com/in/lim-derek/" 
      googleScholar: "https://scholar.google.com/citations?user=y9YTBIsAAAAJ&hl=en"

    - name: "Jacqueline Maasch"
      logo: "/img/jacq.png"
      email: "maasch@cs.cornell.edu"
      affiliation: "Cornell Tech"
      # url: 
      home: "https://jmaasch.github.io/"
      linkedin: "https://www.linkedin.com/in/jmaasch/"
      googleScholar: "https://scholar.google.com/citations?user=5l9n9J8AAAAJ&hl=en&authuser=1"

    - name: "Yanbang Wang"
      logo: "/img/yangbang.jpg"
      email: "ywangdr@cs.cornell.edu"
      affiliation: "Cornell University"
      url: ""
      home: "https://www.cs.cornell.edu/~ywangdr/"
      linkedin: "https://www.linkedin.com/in/ywangdr/" 
      googleScholar: "https://scholar.google.com/citations?user=Ch3YUgsAAAAJ&hl=en"

  # Team:
    # - name: "Yingheng"
    # - name: "Dereck Lim"
    # - name: "Sergio Rozada"
    # - name: "Víctor Tenorio"
    # - name: "Bianca Radu"
    # - name: "Fernando Real Rojas"


