<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description" style="text-align:justify"> Welcome to the official website for the New York meetup of the <a href=https://logconference.org/ target="_blank">Learning on Graphs Conference</a>, an annual research conference that covers areas broadly related to machine learning on graphs and geometry.</p>

<p style="text-align:justify">This event serves as a local branch of the main conference, providing an environment for researchers in this field to convene and foster discussion and social connections. </p>

<p style="text-align:justify">The main objective of this event is to build an open and diverse community in the greater NYC area with students, professors, and industry researchers interested in machine learning and graphs (e.g., computer science, discrete math, operations research, etc.), geometry (e.g., applied math, physics, neuroscience, biology, etc.), and networks (e.g., network science, social science, etc.).</p>

<!-- <p>You could  join the event virtually via Zoom session <a href=https://shorturl.at/cnou1 target="_blank">here</a>.</p> -->

<p>Explore the event's recorded sessions <a href=https://www.youtube.com/@LoGMeetupNYC target="_blank">here</a>.</p>

<center>
	
</center>


<center>
	<p><b>Learning Meets Geometry, Graphs, and Networks</b><br>📅 29th February – 1st March 2024 📍 Jersey City</p>
	<br>
	<img src="img/logo_w_nyc.png" alt="Description of the image" class="responsive-image">
	<br><br><br><br>
</center>

<!--<p>The deadline for registration is 19 November 23. </p> -->

<p><b>Important dates:</b></p>
<ul class="dates-list">
	<li>Submission deadline: February 25th 2024</li>
	<!-- <li>Final decision: November 10th 2023</li> -->
	<li>Deadline for registration: February 25th 2024</li>
	<li>Acceptance notification: February 26th 2024</li>
	<!-- <li>Late registration until: November 26th 2023</li>
	<li>Late full registration fee: 180€. </li>
	<li>Reduced late full registration fee (students and part-time attendees with a talk): 90€ </li> -->
</ul>
